@import url("../css/theme.css");

.description {
    width: 90vw;
    max-width: 1000px;
    padding-top: 0.5em;
    color: #666666;
    font-size: 2em;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
}

.copyright {
    font: small;
    font-weight: 350;
    text-align: center;
    margin-top: 2em; 
    color: #666666;
}
