@import url("../css/theme.css");

.content {
     width: 90vw;
     max-width: 1000px;
     color: #666666;
     font-size: 2em;
     font-weight: 300;
     margin-left: auto;
     margin-right: auto;
 }
 
 .content h1 {
     text-align: center;
 }
 
 .content ul {
     margin-left: 3em;
 }
 
 .content .br-small {
     display: block;
     margin-bottom: 0.75em;
 }
 
 .copyright {
     font: small;
     font-weight: 350;
     text-align: center;
     margin-top: 2.65em; 
     color: #666666;
 }
