@import url("../css/theme.css");

.content {
    width: 90vw;
    max-width: 1000px;
    color: #666666;
    font-size: 2.3em;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.copyright {
    font: small;
    font-weight: 350;
    text-align: center;
    margin-top: 34em;
    color: #666666;
}
