@import url("../css/theme.css");

div + div {
    clear: both;
}

p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #666666;
}

.faq-title {
    margin-top: 0.5em;
    font-size: 3em;
    color: #666666;
    text-align: center;
}

div.seperator {
    width: 7.5em;
    background-color: #322985;
    height: 0.17em;
    margin-left: -1.8em;
}

.faq-list > div {
    border-bottom: 0.07em solid #666666;
    padding: 1.5em 0em;
} 

.faq-list > div:last-child {
    border: unset;
}

details > summary {
    list-style: none;
}
details > summary::-webkit-details-marker {
    display: none;
}

summary {
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
    transition: all 0.3s ease;
}

summary:hover {
    color: #332985;
}

details {
    color: #666666;
}

details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 55px}
}

details[open] summary {
    color: #322985;
}

details[open] p {
    border-left: 2px solid #322985;
    margin-left: 55px;
    padding-left: 25px;
    opacity: 100;
    transition: all 3s ease;
}

details[open] summary:after {
    content: "-";
    font-size: 3.2em;
    margin: -33px 0.35em 0 0;
    font-weight: 200;
}

.faq-list {
    width: 88vw;
    max-width: 990px;
    margin: 0.75em auto;
}

summary::-webkit-details-marker {
    display: none;
}

summary:after {
    background: transparent;
    border-radius: 0.3em;
    content: "+";
    color: #322985;
    float: left;
    font-size: 1.8em;
    font-weight: bold;
    margin: -0.3em 0.65em 0 0;
    padding: 0;
    text-align: center;
    width: 25px;
}

.copyright {
    font: small;
    font-weight: 350;
    text-align: center;
    margin-top: 4.4em; 
    color: #666666;
}
