@import url("../css/theme.css");

.content {
     padding-top: 0.3em;
     width: 90vw;
     max-width: 1000px;
     margin-left: auto;
     margin-right: auto;
     font-size: 2em;
     font-weight: 300;
     color: #666666;
}

.content h1, h2, h3, h4 {
    text-align: center;
}

.content ul {
    margin-left: 3em;
}

.content ol {
    margin-left: 3em;
}

.content .br-small {
    display: block;
    margin-bottom: 0.75em;
}

.content .br-tiny {
    display: block;
    margin-bottom: 0.5em;
}                         

.box {
    border: 3px solid #666666;
    padding: 0.1em;
    box-sizing: border-box;
}

.copyright {
      font: small;
      font-weight: 350;
      text-align: center;
      margin-top: 3.05em;
      margin-bottom: 2.45em;
      color: #666666;
 }
