@import url("../css/theme.css");

.container {
    position: relative;
    z-index: 2;
    width: 100vw;
    max-width: 1180px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1.25em;
    box-sizing: border-box;
}

.services-grid {
    list-style: none;
    padding: 0px;
    margin: 2.187em 0px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 0.9375em;
    position: relative;
}

.service-card {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
    width: 94%;
    padding: 1.5em;
    border-radius: 0.25em;
    background-color: #e9fcfc;
    text-align: center;
    transition: .3s ease-out;
}

.service-card:hover {
    transform: translateY(-10px) scale(1.1);
    transition: .3s ease-in;
}

.service-card-icon {
    cursor: pointer;
    width: 100px;
    background-size: cover;
    margin-bottom: 1em;
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    transition: .3s ease-out;
}

svg {
    width: 100px;
    height: 100px;
}

svg:hover path {
    fill: #322985;
}

.service-card-title {
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.25;
    color: #666666;
    font-weight: normal;
    letter-spacing: -.01em;
}

.copyright {
    font: small;
    font-weight: 350;
    text-align: center;
    margin-top: 11.63em; 
    color: #666666;
}
