* {
    margin: 0;
    padding: 0;
    background: #e9fcfc;
}

a {
    color: #322985;
}

blockquote {
    border-left: 3px solid #322985;
    padding: 0.6em;
    margin-left: 0.5em;
}

::selection {
    background: #322985; /* WebKit & Blink Browsers */
    color: #e9fcfc;
}

::-moz-selection {
    background: #322985; /* Gecko Browsers */
    color: #e9fcfc;
}

header {
    display: flex;
    padding-top: 0.3em;
} 

body {
    font-family: sans-serif;
}

.logo {
    width: 100vw;
    max-width: 500px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 0.6em;
}

.navbar ul li {
    list-style: none;
    display: inline-block; /* Side-by-side */
    position: relative; /* Don't bunch all the links together */
    margin: 0 2.5em; /* Spacing between the links */
    font-size: 1.25rem;
    font-weight: bold;
} 

.navbar ul li a {
    text-decoration: none; /* Blue hyperlinks are ugly */
    color: #666666;
}

/* Underline animations for the links! */
.navbar ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -4px;
    left: 0;
    background-color: #322985;
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
}

.navbar ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar button {
    width: 125px;
    padding: 0.5em 0;
    text-align: center;
    margin: 1em 0.5em;
    border-radius: 0.25em;
    font-family: sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    border: 2px solid #332985;
    background: #332985;
    color: #e9fcfc;
    cursor: pointer;
}

.navbar button:hover, button:focus {
    box-shadow: 0 0 60px rgba(68, 54, 176, .64);
    position: relative;
    color: #e9fcfc;
    background-color: #3d309c;
    transition: all .35s ease-in-out 0s;
    animation: ring 1.5s infinite;
}

hr {
    width: 90vw;
    max-width: 1025px;
    align: center;
    border: none;
    border-top: 5px double #666666;
    margin: 0.75em auto;
    color: #666666;
    overflow: visible;
    text-align: center;
    height: 0.4em;
}

hr:after {
    background: #e9fcfc;
    content: '§';
    padding: 0 0.25em;
    position: relative;
    top: -0.8125em;
}
