@import url("css/theme.css");

.phrase {
    padding-top: 0.2em;
    width: 90vw;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 3em;
    font-weight: lighter;
    color: #666666;
}

.container {
    position: relative;
    z-index: 2;
    width: 100vw;
    max-width: 1180px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1.25em;
    padding-right: 1.25em;
    box-sizing: border-box;
}

.w-layout-grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    align-content: center;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
}

.service-card {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
    width: 100%;
    padding: 1.5em;
    border-radius: 0.25em;
    background-color: #e9fcfc;
    text-align: center;
}

.service-card-icon {
    height: 200px;
    margin-bottom: 1em;
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.service-card-title {
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.25;
    color: #666666;
    font-weight: normal;
    letter-spacing: -.01em;
}

.copyright {
    font: small;
    font-weight: 350;
    text-align: center;
    margin-top: 7.4em;
    color: #666666;
}
